.logo {
    color: white;
    margin-right: 0.5rem;
    display: inline-block;
    font-size: 2rem;
}

.iconLink {
    align-items: center;
    font-size: 1rem;
}

.container {
    background-color: yellow;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
