.title {
    font-size: 3rem;
}

.mainImg {
    width: 10rem;
    height: 10rem;
}

.backgroundVid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;

    padding-top: 7.5%;

    /* HIGH RES IMAGE */
    width: 100%;
    margin-bottom: 12.5%;
    /* background-image: url(../public/assets/homepage/field.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.header {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.subText {
    font-size: 2rem;
}

.gallery {
    background-color: rgba(20, 20, 20, 1);
    width: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
}

.galImages {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.galImages > * {
    border-radius: 0.5rem;
    padding: 1rem;
    width: 27.5rem;
    height: 15rem;
    font-size: 1.5rem;

    background-size: cover;
    background-repeat: no-repeat;
}

.galHead {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.gamePlay {
    width: 100%;
}

.gameVid {
    height: 15rem;
}

.gameCont {
    display: flex;
    flex-direction: column;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
